{% extends 'base.html' %}
{% block title %}Livros{% endblock %}
{% block content %}
  <h2>Livros</h2>
  <a href="{% url 'livros_add' %}"><button class="btn btn-success">Adicionar livro</button></a>

  {% if dados %}
    <table class="table table-striped-columns">
      <thead><tr><th>ID</th><th>Título</th><th>Autor</th><th>Gênero</th><th>Editora</th><th>Quantidade</th><th>Ações</th></tr></thead>
      <tbody>
        {% for l in dados %}
          <tr>
            <td>{{ l.ID_livro }}</td>
            <td>{{ l.Titulo }}</td>
            <td>{{ l.Autor_id }}</td>
            <td>{{ l.Genero_id }}</td>
            <td>{{ l.Editora_id }}</td>
            <td>{{ l.Quantidade_disponivel }}</td>
            <td class="actions">
              <a href="{% url 'livro_detalhes' l.ID_livro %}"><button class="btn btn-primary">Ver</button></a>
              <a href="{% url 'livros_edit' l.ID_livro %}"><button class="btn btn-warning">Editar</button></a>
              <a href="{% url 'livros_delete' l.ID_livro %}"><button class="btn btn-danger">Excluir</button></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}<p>Nenhum livro cadastrado.</p>{% endif %}
{% endblock %}
