{% extends 'base.html' %}
{% block title %}Autores{% endblock %}
{% block content %}
  <h2>Autores</h2>
  <a href="{% url 'autores_add' %}"><button class="btn btn-success">Adicionar autor</button></a>
  {% if dados %}
    <table class="table table-striped-columns">
      <thead><tr><th>ID</th><th>Nome</th><th>Nacionalidade</th><th>Data Nasc</th><th>Ações</th></tr></thead>
      <tbody>
        {% for autor in dados %}
          <tr>
            <td>{{ autor.ID_autor }}</td>
            <td>{{ autor.Nome_autor }}</td>
            <td>{{ autor.Nacionalidade }}</td>
            <td>{{ autor.Data_nascimento }}</td>
            <td class="actions">
              <a href="{% url 'autor_detalhes' autor.ID_autor %}"><button class="btn btn-primary btn-sm">Ver</button></a>
              <a href="{% url 'autores_edit' autor.ID_autor %}"><button class="btn btn-warning btn-sm">Editar</button></a>
              <a href="{% url 'autores_delete' autor.ID_autor %}"><button class="btn btn-danger btn-sm">Excluir</button></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Nenhum autor cadastrado.</p>
  {% endif %}
{% endblock %}
