body {
    background-color: #2d2d2d;
    color: white;
}

.container {
    max-width: 75%;
    margin-block: 50px;
}

table {
    margin-block: 20px;
}

td a button {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    border-radius: 0.25rem !important;
}