{% extends 'base.html' %}
{% block title %}Editar Editora{% endblock %}
{% block content %}
  <h2>Editar Editora</h2>
  <form method="post" action="{% url 'editoras_edit' editora.ID_editora %}">
    {% csrf_token %}
    <div class="row mb-3"><label>Nome</label><input class="form-control" name="nome" value="{{ editora.Nome_editora }}" required></div>
    <div class="row mb-3"><label>Endereço</label><input class="form-control" name="endereco" value="{{ editora.Endereco_editora }}"></div>
    <button class="btn btn-success" type="submit">Salvar</button>
  </form>
{% endblock %}