{% extends 'base.html' %}
{% block title %}Editoras{% endblock %}
{% block content %}
  <h2>Editoras</h2>
  <a href="{% url 'editoras_add' %}"><button class="btn btn-success">Adicionar editora</button></a>
  {% if dados %}
    <table class=" table table-striped-columns">
      <thead><tr><th>ID</th><th>Nome</th><th>Endereço</th><th>Ações</th></tr></thead>
      <tbody>
        {% for e in dados %}
          <tr>
            <td>{{ e.ID_editora }}</td>
            <td>{{ e.Nome_editora }}</td>
            <td>{{ e.Endereco_editora }}</td>
            <td class="actions">
              <a href="{% url 'editora_detalhes' e.ID_editora %}"><button class="btn btn-primary">Ver</button></a>
              <a href="{% url 'editoras_edit' e.ID_editora %}"><button class="btn btn-warning">Editar</button></a>
              <a href="{% url 'editoras_delete' e.ID_editora %}"><button class="btn btn-danger">Excluir</button></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}<p>Nenhuma editora cadastrada.</p>{% endif %}
{% endblock %}