{% extends 'base.html' %}

{% block content %}
    <div class="container text-white">
        <h1>Cadastrar Usuário</h1>
        <form method="post" action="{% url 'register' %}">
          {% csrf_token %}
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" name="nome" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" required>
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" name="senha" required>
            </div>
            <div class="mb-3">
                <label for="confirmar" class="form-label">Confirmar Senha</label>
                <input type="password" class="form-control" name="confirmar" required>
            </div>
            <div class="mb-3">
                <label for="telefone" class="form-label">Número de Telefone</label>
                <input type="number" class="form-control" name="telefone">
            </div>
            <div class="mb-3">
                <label for="data" class="form-label">Data de Inscrição</label>
                <input type="date" class="form-control" name="data">
            </div>
            <div class="mb-3">
                <label for="multa" class="form-label">Multa atual</label>
                <input type="number" class="form-control" name="multa">
            </div>
            <button type="submit" class="btn btn-success btn-lg">Enviar</button>
        </form>
    </div>
{% endblock %}